@import "https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap";
.theme {
  --color__primary: white;
  --color__text: #000;
}

.dark-mode {
  --color__primary: #000103;
  --color__text: #fffffa;
  color: #fff;
  background-color: #000;
}


.button__mode {
  border-radius: 50%;
  padding: 5px;
  font-family: Amatic SC;
  font-size: 2rem;
  position: absolute;
  top: 180px;
  right: 60px;
}

@media (max-width: 170px) {
  .button__mode {
    margin: 120px;
  }
}

.home {
  height: 1500px;
}

.section__quotes {
  height: 75vh;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  padding: 60px;
  display: flex;
}

.quotes__image {
  height: 80vh;
  z-index: -1;
  opacity: .2;
  padding-top: 100px;
  padding-left: -280px;
  position: absolute;
  transform: rotateY(180deg);
}

.quotes__sentence {
  width: 70vw;
  padding-left: 50px;
  font-size: 2.5vw;
}

@media (max-width: 720px) {
  .quotes__sentence {
    font-size: 4vw;
    transition: all .5s;
  }
}

.quotes__sentence, .quotes__sentence--author {
  text-shadow: -1px 2px 2px gray;
  font-family: thabit;
}

.quotes__sentence--author {
  color: #52b69a;
  place-self: flex-end;
  font-size: 3vw;
}

.section__mostPopular {
  width: 100%;
  height: 75vh;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 75px;
  display: flex;
}

@media (max-width: 720px) {
  .section__mostPopular {
    text-align: center;
    margin: 0 auto;
    display: block;
  }
}

.mostPopular__title {
  text-align: center;
  width: 100%;
  padding-bottom: 100px;
  font-family: Amatic SC;
  font-size: 6vw;
}

@media (max-width: 720px) {
  .mostPopular__title {
    font-size: 15vw;
    transition: all .5s;
  }
}

#author {
  width: 100%;
}

.mostPopular__author {
  width: 33%;
  padding-bottom: 50px;
}

.author__backgroundImage {
  width: 204px;
  height: 204px;
  border: 4px solid #000;
  border-radius: 50%;
  margin: 0 auto;
}

#colorLaoTzu {
  background-color: #99d98c;
}

#colorHooper {
  background-color: #1a759f;
}

#colorEpicuro {
  background-color: #d9ed92;
}

.author__image {
  width: 95%;
  height: 95%;
  position: relative;
  bottom: -12px;
  right: -6px;
}

.author__name {
  text-shadow: -1px 2px 2px gray;
  width: 100%;
  text-align: center;
  font-family: thabit;
  font-size: 2rem;
  display: block;
}

.mostPopular__topic {
  width: 180px;
  height: 80px;
  text-align: center;
  background-color: #b5e48c;
  border: 3px solid #168aad;
  margin-bottom: 30px;
  padding: 10px;
  font-family: Amatic SC;
  font-size: 2rem;
}

.section__searchBar {
  height: 45vh;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
}

h1, h2, .result__list, .login h1{
  font-family: Amatic SC;
  text-align: center;
}

.section__searchBar h1 {
  width: 100%;
  text-align: center;
}
.searchBar__options{
  width: 40%;
  text-align: center;
}
.keyWord {
  width: 20%;
  margin-left: 20px;
  text-align: center;
}

.searchBar__lenghtQuote {
  width: 60%;
}
.searchBar__result {
  width: 70%;
  margin: 0 auto;
  padding: 50px;
  padding-inline-start: 0;
  
}

.searchResult__button {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border: none;
  background-color: white;
}
.result__img {
  width: 20px;
  height: 20px;
}

ul {
  padding-inline-start: 0px;
}

.results__pagination {
  margin:0 auto;
}

.result__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  font-size: 2rem;

}

.searchBar__box {
  width: 55%;
  height: 80px;
  z-index: 0;
  border: 3px solid #000;
  box-shadow: -3px 3px 10px #d3d3d3;
}

.searchBar__link {
  height: 80px;
  width: 100px;
  background-image: linear-gradient(#99d98c, #1a759f);
  border: 3px solid #000;
  font-size: 1.5rem;
  padding: 5px;
  font-family: thabit;

}


.searchBar__box::placeholder {
  padding: 20px;
  font-family: thabit;
  font-size: 2rem;
}

.section__list {
  width: 70%;
  grid-template-columns: repeat(auto-fit, minmax(204px, 1fr));
  gap: 50px;
  margin: 0 auto;
  padding: 50px 10px;
  display: grid;
}

.author__backgroundImage {
  width: 204px;
  height: 204px;
  border: 5px solid #000;
  border-radius: 50%;
  margin: 0 auto;
}

#colorLaoTzu {
  background-color: #99d98c;
}

#colorHooper {
  background-color: #1a759f;
}

#colorConfucio {
  background-color: #34a0a4;
}

#colorEpicuro {
  background-color: #d9ed92;
}

#colorBuda {
  background-color: #52b69a;
}

#colorArendt {
  background-color: #d9ed92;
}

#colorSafo {
  background-color: #168aad;
}

#colorHipatia {
  background-color: #b5e48c;
}

#colorMead {
  background-color: #99d98c;
}

#colorUeshiba {
  background-color: #184e77;
}

#colorDavis {
  background-color: #34a0a4;
}

#colorChuangTse {
  background-color: #99d98c;
}

.author__image {
  width: 96%;
  height: 96%;
  clip-path: circle(92px);
  position: relative;
}

.author__name {
  text-shadow: -1px 2px 2px gray;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  font-family: Amatic SC;
  font-size: 2.2rem;
  display: block;
}

.before-after {
  justify-content: center;
  padding: 20px;
  display: flex;
}

.errorPage {
  height: 60vh;
}

.sectionError {
  width: 500px;
  height: 200px;
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  animation: 3s linear swing-fall;
  transform: translateY(245px)rotate(-45deg);
  box-shadow: -3px 3px 10px #d3d3d3;
}


.sectionError__title--404 {
  opacity: .5;
  text-align: center;
  font-family: Amatic SC;
  font-size: 3rem;
  animation: 3s linear swing-fall-words;
  transform: translateY(90px);
}

.sectionError__title--error {
  text-align: center;
  font-family: Amatic SC;
  font-size: 3rem;
  animation: .5s linear swing-fall-words;
  transform: translateY(60px)rotateZ(-10deg);
}

.sectionError__message {
  font-family: thabit;
  animation: 3s linear swing-fall-message;
  transform: translateY(40px)translateX(-102px)rotateZ(0);
}

@keyframes swing-fall {
  0% {
    transform: rotateZ(0);
  }

  40% {
    transform: rotateZ(6deg);
  }

  70% {
    transform: rotateZ(-12deg);
  }

  100% {
    transform: translateY(260px)rotate(-45deg);
  }
}

@keyframes swing-fall-message {
  0% {
    transform: rotateZ(0);
  }

  40% {
    transform: rotateZ(6deg);
  }

  70% {
    transform: rotateZ(-12deg)translateX(-60px);
  }

  100% {
    transform: translateY(50px)translateX(-102px);
  }
}

@keyframes swing-fall-words {
  0% {
    transform: rotateZ(0);
  }

  40% {
    transform: rotateZ(6deg);
  }

  70% {
    transform: rotateZ(-12deg);
  }

  100% {
    transform: translateY(50px);
  }
}

.contact {
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Amatic SC;
  display: flex;
}

.contact__title {
  width: 100%;
  height: 1vh;
  text-align: center;
  padding: 100px;
  font-size: 3vw;
}

@media (max-width: 821px) {
  .contact__title {
    margin-top: 100px;
    padding: 20px;
    font-size: 15vw;
    transition: all .5s;
  }
}

.contact__form {
  width: 50%;
  height: 70vh;
  padding-bottom: 20px;
  font-size: 2vw;
}

@media (max-width: 821px) {
  .contact__form {
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 6vw;
    transition: all .5s;
  }
}
.form-check-input {
  margin: 5px;
}
span.terms{
  color: #1e6091;
  text-decoration: underline;
}

.form__label {
  justify-content: flex-end;
  padding: 20px;
  display: flex;
}

@media (max-width: 821px) {
  .form__label {
    text-align: center;
    padding: 0;
    display: block;
  }
}

.label__input, .label__input--message {
  width: 70%;
  height: 80px;
  background-color: #f3f1f1;
  border: none;
  margin-left: 20px;
}

@media (max-width: 821px) {
  .label__input, .label__input--message {
    width: 100%;
    margin: 0 auto;
  }
}

.label__input--message {
  height: 190px;
}

.form__image {
  height: 100px;
  width: 100px;
  opacity: .5;
  padding-right: 10px;
  position: absolute;
  bottom: -27px;
}

@media (max-width: 821px) {
  .form__image {
    display: none;
  }
}

.form__button {
  text-shadow: -1px 2px 2px gray;
  background-color: #b5e48c;
  margin: 0 auto;
  padding: 10px 20px;
  font-family: Amatic SC;
  font-size: 2rem;
  display: block;
}

@media (max-width: 821px) {
  .form__button {
    margin: 40px;
  }
}

.log {
  height: 100vh;
}

.logForm {
  width: 30%;
  height: 70%;
  border: 2px solid #1e6091;
  border-radius: 10%;
  margin: 100px auto;
  padding: 20px;
  display: block;
  text-align:center;
}

@media (max-width: 821px) {
  .logForm {
    width: 90%;
  }
}

.logForm__option {
  justify-content: space-around;
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
}

.option__log, .option__sing, .logForm__submit {
  text-shadow: -1px 2px 2px gray;
  color: #000;
  border: 2px solid #000;
  font-family: Amatic SC;
  font-size: 2rem;
}
.login {
  height: 500px;
}
.login h1 {
  font-size: 3rem;
  margin: 50px;
}

.color {
  background-color: black;
}
.color2 {
  background-color: gray;
}

@media (max-width: 720px) {
  .option__log, .option__sing, .logForm__submit {
    font-size: 6vw;
  }
}

.option__log {
  color: gray;
  background-color: #f3f1f1;
  padding: 10px 25px;
}

.option__sing {
  background-color: #b5e48c;
  padding: 10px 20px;
}

.input__box {
  width: 75%;
  background-color: #f3f1f1;
  border: none;
  margin: 30px auto;
  padding: 15px;
  display: block;
}

input[type=radio] {
  width: auto;

}

@media (max-width: 720px) {
  .input__box {
    width: 89%;
  }
}

::placeholder {
  font-family: thabit;
  font-size: 16px;
}

.logForm__submit {
  background-color: #b5e48c;
  margin: 50px auto;
  padding: 10px 20px;
  display: block;
}

.authorHeader {
  justify-content: center;
  align-items: center;
  padding: 200px;
  display: flex;
}

@media (max-width: 720px) {
  .authorHeader {
    padding: 20px;
    transform: scale(.4);
  }
}

.authorHeader__singleAuthor {
  transform: scale(1.8)translateX(80px);
}

.authorHeader__decorativeImage {
  transform: rotateY(180deg)scale(.8)translateY(-220px);
}

.singleAuthor__backgroundImage {
  width: 204px;
  height: 204px;
  border: 5px solid #000;
  border-radius: 50%;
}

.singleAuthor__image {
  transform: translateY(5px);
}

.singleAuthor__name {
  text-align: center;
  font-family: Amatic SC;
  font-size: 3rem;
  display: block;
}

.authorMain {
  width: 90%;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 0 auto;
  display: grid;
}

.authorMain__qoute {
  text-align: center;
  padding: 30px;
  font-family: thabit;
  box-shadow: -3px 3px 10px #d3d3d3;
  display:flex;
  justify-content: space-between;
}

.profile {
  width: 40%;
  height: 400px;
  justify-content: space-between;
  align-items: center;
  margin:  40px 50px;
  padding: 20px;
  display: flex;
  top: 100px;
  box-shadow: -3px 3px 10px #d3d3d3;
}

@media (max-width: 821px) {
  .profile {
    width: 60%;
    display: block;
  }
}
.profile__storage {
  width: 50%;

}
.profile__all{
  display:flex;
  flex-wrap: wrap;
}

.profile__me {
  height: 30vh;
  width: 48%;
  display: block;
  top: 20px;
}
.authorMain__name{
  background-color:#1a759f;
  color: white;
  font-weight: 700;
}

.me__image {
  height: 80%;
  width: 150px;
  margin: 0 auto;
  display: block;
}

.me__name {
  text-align: center;
  font-family: thabit;
  font-size: 2rem;
  display: block;
}

.profile__places {
  width: 48%;
}
.places__button { 
  border: 2px solid #000;
  padding: 10px 20px;
  width: 150px;
  font-family: Amatic SC;
  font-size: 1.6rem;
  margin-top: 20px;
}

 .places__topics, .places__quotes {
  font-family: Amatic SC;
  font-size: 1.6rem;
  display: block;
}

@media (max-width: 821px) {
  .places__authors, .places__topics, .places__quotes {
    font-size: 1.5rem;
  }
}

.action {
  width: 30%;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0 auto;
  display: flex;
  top: 0;
}

@media (max-width: 821px) {
  .action {
    margin: 0 auto;
    display: block;
  }
}

.action__modify {
  height: 60px;
  width: 60px;
  margin-bottom: 150px;
}

.header {
  width: 100%;
  height: 20vh;
  min-height: 100px;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  display: flex;
  box-shadow: -3px 3px 10px #d3d3d3;
}

.header__logo {
  width: 20vw;
  min-width: 200px;
  padding-bottom: 10px;
}

.header__menu {
  text-shadow: -1px 2px 2px gray;
  font-family: Amatic SC;
  font-size: 2.2vw;
  font-weight: 700;
}

.menu__list {
  width: 50vw;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 60px;
  display: flex;
  text-decoration: none;
}

.list__link a {
  color: #000;
  text-decoration: none;
}

.list__link a:after {
  color: gray;
}

.list__link a:hover {
  color: gray;
  transition: all .5s linear;
}
.list__link--buttonStyle  {
  color: #000;
  background-color: #b5e48c;
  border: 2px solid #000;
  padding: 10px 20px;
}
.list__link--buttonStyle--2 {
  background-color: #52b69a;
}

.list__link--buttonStyle a {
  color: #000;
  background-color: #b5e48c;
  border: 2px solid #000;
  padding: 10px 20px;
  transition: all .2s linear;

}

.list__link--buttonStyle:hover {
  background: #52b69a;
  transition: all 2s linear;
}
.errorMessage {
  color: red;
}

.list__link--on a {
  color: gray;
}

.link__buttonStyle--on a {
  color: gray;
  background-color: #f3f1f1;
  border: 2px solid #000;
  padding: 10px 20px;
}

.header__menuMobil {
  padding-bottom: 10px;
  padding-right: 60px;
  display: none;
}

.menuMobil__list {
  color: #000;
  z-index: 10;
  background-color: #fff;
  padding: 20px;
  font-family: Amatic SC;
  font-size: 2rem;
  transform: translateX(-60px);
  box-shadow: -3px 3px 10px #d3d3d3;
}

.menuMobil__img {
  width: 35px;
}

.listMobil__link--on a {
  color: gray;
}

@media screen and (max-width: 720px) {
  .header__menu {
    display: none;
  }

  .header__menuMobil {
    display: inline;
  }

  .menuMobil__list {
    display: none;
  }

  .header__menuMobil:hover .menuMobil__list {
    display: block;
    position: absolute;
  }
}

.footer {
  height: 20vh;
  width: 100%;
  background-image: linear-gradient(#99d98c, #1a759f);
  justify-content: center;
  align-items: center;
  display: flex;
  bottom: 0%;
}

.footer__icon {
  padding: 50px;
}

@media screen and (max-width: 720px) {
  .footer__icon {
    padding: 15px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: #000;
}

/* @font-face {
  font-family: thabit;
  src: url("ThabitBoldBold.f67fc0c6.ttf");
  font-weight: bold;
} */

/*# sourceMappingURL=index.034b6250.css.map */
